<h1 class="liesa-resume">RESUME</h1>
<h3 class="laysa">Alieza P. Balles</h3>
<h3>09610807251/aliezaballes@gmail.com</h3>

<h2 class="laysa-info">Personal Data</h2>
<ul>
<p>Gender:          Female</p>
<p>Address:         Dicklum, Manolo Fortich, Bukidnon</p>
<p>Age:             19 years old</p>
<p>Date of Birth:   September 19, 2004</p>
<p>Religion:        Roman Catholic</p>
</ul>

<h3> Educational Background </h3>
<ul>
    <p class="laysa-p"> Tertiary Education </p>
    <p> Northern Bukidnon State College </p>
    <p class="laysa-p"> Secondary Education </p>
    <p> Manolo Fortich National High School </p>
    <p class="laysa-p"> Primary Education </p>
    <p> Manolo Fortich Elementary School </p>
</ul>

<h3> Skills </h3>
<ul>
    <p> Good written and communication skills </p>
    <p> Can work independently and as part of a team </p>
    <p> Organized and efficient </p>
</ul>

<h3> Reference </h3>
<ul>
    <p></p>
</ul>